*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --test-font-family: 'Raleway';
    --heading-font-family: 'Raleway';
    --font-family: 'Roboto';
    --font-style: 'normal';
    --font-weight: 400;
    --flex-shrink: 0;
}

ul {
    list-style-type: none;
}

.container {
    background: #FFF;
    border: #121111;
    width: 1600px;
    height: 2348px;
}

/* header section */

.web-container > h1 {
    color: #2196F3;
    font-size: 26px;
    font-family: var(--heading-font-family);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.first-container {
    display: flex;
    border: 1px;
    width: 1600px;
    height: 82px;
    width: 100%;
    align-items: center
}

.box {
    padding: 32px 0px 32px 0px;
}

.box ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-items: center; */
    /* width: 400px; */
}

.web-container {
    display: flex;
    justify-content: center;
    padding: 24px 93px 25px 215px;
}

.contacts-container {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 32px 0px 32px 385px;
}

.global-header .container ul {
    display: flex;
}

.content-section {
    font-size: 14px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.global-header {
    display: flex;
    justify-content: space-between;
    border: 1px;
    /* width: 1602px; */
    height: 82px;
}

.studio-link {
    color: #2196F3;
    width: 42px;
    height: 16px;
    line-height: 16px;
    margin: 0px 50px 0px 0px;
    /* padding: 32px 1105px 32px 453px; */
}

.portofolio-link {
    color: #212121;
    /* width: 58px;
    height: 16px; 
    padding: 32px 997px 32px 545px; */
    line-height: 16px;
    margin: 0px 50px 0px 0px;
}

.contacts-link {
    color: #212121;
    width: 59px;
    height: 16px;
    line-height: 16px;
     /* padding: 32px 888px 32px 653px; */
}

.email-link {
    color: #2196F3;
    /* width: 135px;
    height: 16px; */
    line-height: 16px;
    margin: 0px 40px 0px 0px;
    /* padding: 32px 368px 32px 1097px; */
}

.phone-section {
    color: #757575;
    height: 16px;
}

.global-header {
    background: #FFF;
    flex-shrink: var(--flex-shrink);
}

.content-section > li > a:hover{
    color: #af1e88;
}

.contacts > a:hover{
    color: #af1e88;
}

.content-section > li > a:focus{
    color: #af1e88;
}

.contacts > a:focus{
    color: #af1e88;
}

/*  first section */

.logo-section {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    background: #2F303A;
    width: 1600px;
    height: 600px;
    flex-shrink: 0;
}

.about-logo {
    line-height: 52px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 200px 452px 30px 452px;
    text-align: center;
    font-size: 44px;
    font-style: 1;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.button-service {
    margin: 30px 700px 200px 700px;
    padding: 10px 19px 10px 20px;
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    width: 161px;
    height: 30px;
    cursor: pointer;
    flex-shrink: 0;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.request-button {
    width: 161px;
    height: 30px;
    line-height: 19px;
}
    
/*  second section */

.container-objective {
    display: flex;
    height: 101px;
    padding: 0px 215px 0px 215px;
    margin-top: 94px;
}

.container-one {
    display: flex;
    margin: 0px 0px 0px 0px;
}

.container-paragraph-one {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 270px;
    height: 75px;
    margin: 0px 30px 0px 0px;
}

.container-objective > ul > li > section {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.container-objective > ul > li {
    display: flex;
}

.container-objective > ul {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}

.container-two {
    display: flex;
    margin: 0px 30px 0px 0px;
}

.container-paragraph-two {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 270px;
    margin: 0px 30px 0px 0px;
    height: 75px;
}

.container-three {
    display: flex;
    margin: 0px 0px 0px 0px;
}

.container-paragraph-three {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 270px;
    margin: 0px 30px 0px 0px;
    height: 75px;
}

.container-four {
    display: flex;
    margin: 0px 0px 0px 0px;
}

.container-paragraph-four {
    flex-direction: column;
    flex-wrap: wrap;
    width: 270px;
    margin: 0px 0px 0px 0px;
    height: 75px;
}

.info-section {
    background: #FFF;
    width: 1600px;
}

.title-heading {
    display: flex;
    width: 270px;
    flex-direction: column;
    flex-shrink: 0;
    line-height: 16px;   
}

.info-section > ul > li > h6 {
    color: #212121;
    font-size: 14px;
    font-style: var(--font-style);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.info-section > ul > li > p {
    color: #757575;
    font-size: 14px;
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    line-height: 1.7;
    letter-spacing: 0.42px;
}

.container-images {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.container-images > h2 {
    display: flex;
    width: 198px;
    height: 42px;
    margin: 94px 701px 50px 701px;
}

.container-images > ul {
    margin: 94px 215px 94px 215px;
    width: 1170px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

.info-section > div > h2 {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-style: var(--font-style);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

/*  section 3 */

.title-image {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.title-image > ul {
    display: flex;
    align-items: center;
}

/* header section */

.image-one {
    margin: 0px 30px 0px 0px;
}

.image-two {
    margin: 0px 30px 0px 30px;
}

.image-three {
    margin: 0px 30px 0px 30px;
}

.image-four {
    margin: 0px 0px 0px 30px;
}

.title-image {
    width: 1600px;
    height: 648px;
    flex-shrink: 0;
    background: #F5F4FA;
}

.title-image > h2 {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-style: var(--font-style);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}



.title-image > ul > li > span{
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    line-height: normal;
    letter-spacing: 0.48px;
}

.title-image > ul > li > em {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    line-height: normal;
    letter-spacing: 0.48px;
}

/*  footer section  */

.footer-section {
    color: #2196F3;
    display: flex;
    align-items: start;
    width: 1600px;
    height: 251px;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-evenly;
    background: #2F303A;
}

.address-layout {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: baseline;
	align-content: space-between;
    margin: 28px 1154px 60px 215px;
    width: 231px;
    height: 72px;
    flex-shrink: 0;
}

.phone-footer {
    color: #ffffff99;
    display: flex;
    line-height: 16px;
    width: 231px;
    height: 16px;
    flex-shrink: 0;
}

.footer-section > h2 {
    line-height: 31px;
    margin: 30px 1240px 28px 215px;
}

.email-footer {
    display: flex;
    line-height: 16px;
    width: 231px;
    height: 16px;
    flex-direction: column;
    color: #ffffff99;
    flex-shrink: var(--flex-shrink);
}

.address-location {
    flex-shrink: 0;
    color: #FFFFFF;
}

.footer-section > address > a:hover,
.footer-section > address > a:focus{
    color: #af1e88;
}